@import url('https://fonts.googleapis.com/css?family=Kavivanar');


body{
    padding: 0;
    margin: 0;
    font-family:  'Kavivanar', Arial, Helvetica, sans-serif

}

#nav{
    width: 100%;
    height: 90px;
    background: #325223;
    text-align: center;
    font-size: 50px;
    line-height: 90px;
    color: rgb(138, 155, 76);
    transition: color .8s, background-color .5s;

}

#nav:hover{
color: gold;
background: rgb(56, 19, 19);
}


#p_wrapper{
    text-align: center;
    font-size: 30px;
    background: rgb(109, 56, 25);
    color: rgb(190, 255, 177);
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}


#gem1_div{
    position: relative;
    bottom: 90px;
    left: 1150px;
    border: 5px solid rgb(50, 82, 35);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(50, 82, 35);
    transition: border 1s, background-color 2s ease; 
    z-index: 2;
}

#gem1_div:hover{
    border: 5px solid rgba(255, 217, 0, 0.363);
    background: gold;

}

#gem2_div{
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 165px;
    z-index: 1;
}

#gem3_div{
    float: right;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 165px;
    z-index: 1;
}


.background_score_wrapper{
    margin: 0 auto;
    width: 960px;
    background: #82c93f;
    margin-top: 50px;  
    color:#3d1f17; 
    height: 55px;
    font-size: 50px;

}

#wins{
    float: left;
    border: 2px solid #3d1f17;
    
}



#random_number_displayed{
    margin: 0 auto;
    border: 2px solid #3d1f17;
    width: 40%;
    text-align: center;
     
}

#loses{
    float: right;
    border: 2px solid #3d1f17;
    position: relative;
    bottom: 55px;
}

.button_wrapper{
    width: 730px;
    height: 200px;
    margin: 0 auto;
    background: red;
}

#button1_div{
    float: left;
    margin-right: 95px;
}
#button2_div{
    float: left;
    margin-right: 95px;
}
#button3_div{
    float: left;
    margin-right: 95px;
}
#button4_div{
    float: left;
}



@media (max-width: 1700px){
    .gem3_class{
        visibility: hidden;
    }

    .gem2_class{
        visibility: hidden;
    }
}

@media (max-width: 925px){
    #gem2_div{
        visibility: hidden;

    }
    #gem3_div{
        visibility: hidden;

    }
}

